#root {
    --primary-bg-color: #FFFFFF;
    --secondary-color: #44E9C4;
    --tertiary-color: #435160;
    --piggy-color: #f9685d;

    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;

}

.App {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 5vh 90vh 5vh;
    grid-template-areas: 
        "header header header"
        ". main ."
        "footer footer footer"
}

.app__container {
    grid-area: main;
}